<div>
    <span *ngFor="let round of rounds">
        <button class="btn mr-1" [ngClass]="{'btn-primary': round?.key == selectedRound?.key, 'btn-secondary': round?.key != selectedRound?.key}"
        (click)="selectRound(round)" [attr.data-testid]="round?.key">
          <span>{{round?.roundNumber}}</span>
        </button>
    </span>
    <span>
        <button class="btn btn-secondary" (click)="createRound()" [disabled]="!roundsFinished" data-testid="btn_addround">
            +
        </button>
    </span>
</div>
<round-component *ngIf="selectedRound" [competitionKey]="selectedCompetition?.key"></round-component>
