<form (ngSubmit)="save()" #playerForm="ngForm">
    <table cellspacing="0">
        <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Competitienaam" type="text" [(ngModel)]="model.name" name="Naam">
                </mat-form-field>
            </td>
            <td>
                <button type="submit">
                    <mat-icon style="color:blue">save</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</form>