    <!-- Add form -->
    <player-form></player-form>

    <div *ngIf="(playerState$ | async)?.status == 2" class="alert">Error loading players</div>

    <!-- List with players -->    
    <div class="container border p-1" *ngFor="let player of (playerState$ | async)?.data">
        <div class="row ml-1 mr-1">
            <div class="col-8">
                    {{player.firstName}} {{player.lastName}}
            </div>
            <div class="col-2">
                {{player.clubElo | number:0}}
            </div>
        </div>
    </div>
    