@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.custombutton {
    background:#ff4081;
    color:white;
}

.roundButton {
    margin-right: 5px;
}

.alert {
    background-color: lightcoral;
    height: 30px;
    border: 1px grey;
    border-radius: 2px;
    color: white;
}