<mat-card *ngIf="selectedRound?.roundStatus == roundStatus.PlayerSelect">   
    <h3>Ronde {{selectedRound.roundNumber}}</h3>     
    <mat-selection-list #players>
        <mat-list-option *ngFor="let player of players$ | async" (click)="toggle(player.id)">
            {{player.firstName}} {{player.lastName}}
        </mat-list-option>
    </mat-selection-list>
    <button mat-button class="custombutton" (click)="generateRound(players)">Genereer</button>
</mat-card>

<mat-card *ngIf="selectedRound?.roundStatus == roundStatus.Generated">

</mat-card>

<mat-card *ngIf="selectedRound?.roundStatus == roundStatus.Done">

</mat-card>

<mat-card>
    Standings
</mat-card>